{% extends "base.html" %}
{% block content %}
<h1>bitch</h1>

<table class="table table-bordered">
 <thead>
   <tr>
     <th>Timeslot</th>
     <th>Monday</th>
     <th>Timeslot</th>
     <th>Thursday</th>
   </tr>
   <tr>
     <td>18.00</td>
     <td><button type="button" class="btn btn-success">Book</button></td>
     <td>14.00</td>
     <td><button type="button" class="btn btn-success">Book</button></td>
   </tr>
   <tr>
     <td>18.15</td>
     <td><button type="button" class="btn btn-success">Book</button></td>
     <td>14.15</td>
     <td><button type="button" class="btn btn-success">Book</button></td>
   </tr>
   <tr>
     <td>18.30</td>
     <td><button type="button" class="btn btn-success">Book</button></td>
     <td>14.30</td>
     <td><button type="button" class="btn btn-success">Book</button></td>
   </tr>


</table>
{% endblock %}
