{% extends "base.html" %}
{% block content %}
<table class="table table-striped">
 <thead>
   <tr>
     <th class="col-xs-3">Title</th>
     <th class="col-xs-3">Description</th>
     <th class="col-xs-3">Price</th>
     <th class="col-xs-3">Stock</th>
   </tr>
 </thead>
 {% for product in object_list %}
   <tr>
     <td>{{ product.title }}</td>
     <td>{{ product.description }}</td>
     <td>{{ product.price }}</td>
     <td>{{ product.stock }}</td>
     <td><td><a href="{% url "products:product_edit" pk=product.id %}">edit</a></td>
   </tr>
 {% endfor %}
</table>
<a class="btn btn-default" href="{% url 'products:product_create' %}" role="button">Add product</a>
<a class="btn btn-default" href="{% url 'home.views.index' %}" role="button">Back</a>
<a class="btn btn-default" href="{% url 'products:categorieslist' %}" role="button">Categories</a>

{% endblock %}
